<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="PATTERN"  value="[%date] [%level] [%logger] - %msg%n"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
</configuration>